# PostgreSQL - Docker Compose
POSTGRES_USER=proy2
POSTGRES_PASSWORD=secret
POSTGRES_DB=tacospepe
POSTGRES_PORT=5433

# Backend - Conexión a la base de datos
DB_HOST=localhost
# Para desarrollo local fuera de Docker, usa el mismo valor que POSTGRES_PORT.
DB_PORT=5433

# Backend - Servidor
PORT=3000
SESSION_SECRET=G9qW3Lx8Ns2Vb7Km4Pd1Yt6Hr0Cf5Ju9Re3Xa8Mz2Uk7Wp4Dn1Tv6Bh0Qs5Lc8Ef
FRONTEND_URL=http://localhost:5173

# Frontend
FRONTEND_PORT=5173
